---
const today = new Date();
---

<footer>
	<span>&copy; {today.getFullYear()} Genduk Ayu Pramesti</span>
</footer>
<style>
	footer {
		padding: 3em 1em;
		border-top: 1px solid var(--border);
		color: var(--text-dim);
		text-align: center;
		font-family: var(--font-mono);
		font-size: 0.75em;
	}
</style>
